<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pneumonia Detection web app</title>
      <!--Favicons-->
    
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    
    <!--    Stylesheets-->
    
    <link href="assets/css/theme.css" rel="stylesheet" />

    <style>
      .bg_img{
        background-position:top center;
        background-size:cover;
      }
      .bg_img1{
        background-position:center;
        background-size:cover;
      }
    </style>
  </head>

  <body>
   
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <!-- <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="#about">About Us</a></li> -->
              <li class="nav-item px-2"><a class="nav-link" href="#prediction">Predict</a></li>
            </ul>
            <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="/logout" onclick="return logout_msg()">Logout</a>
            <!-- <a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="#!">Register</a> -->
          </div>
      </nav>
      <section class="py-xxl-10 pb-0" id="home">
        <div class="bg-holder bg-size">
          <img src="{{url_for('static', filename='assets/img/gallery/hero-bg.png')}}" alt="Background Image" class=".bg_img">
        </div>


        <div class="container">
          <div class="row min-vh-xl-100 min-vh-xxl-25">
            <div class="col-md-5 col-xl-6 col-xxl-7 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 w-100" src="{{url_for('static', filename='assets/img/Images/bg_image_3-removebg-preview.png')}}" alt="hero-header" /></div>
            <div class="col-md-75 col-xl-6 col-xxl-5 text-md-start text-center py-6">
              <h1 class="fw-light font-base fs-6 fs-xxl-7">Let's Predict<strong> Pneumonia </strong>in just&nbsp;<strong>single click.</strong></h1>
              <p class="fs-1 mb-5">This model uses Chest X-Ray images of Lungs to predict<br /> whether person is infected by Pnemonia or not.</p><a class="btn btn-lg btn-primary rounded-pill" href="#prediction" role="button">Go down to Predict</a>
            </div>
          </div>
        </div>
      </section>


      <section class="py-5" id="prediction">

        <div class="container">
          <div class="row">
            <div class="col-12 py-3">

              <h1 class="text-center">PNEUMONIA PREDICTION</h1>
            </div>
          </div>
        </div>

      </section>
      
      {% block content %}
      {% endblock %}

      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-12 py-3">
              </div>
           

              <h1 class="text-center">PRECAUTION TIPS</h1>
            </div>
          </div>
        </div>
      

      </section>
      
      <section class="py-8">
        <div class="bg-holder bg-size">
          <img src="{{url_for('static', filename='assets/img/gallery/people-bg-1.png')}}" alt="Background Image" class=".bg_img1">
        </div>
        
        <div class="container">
          <div class="row align-items-center offset-sm-1">
            <div class="carousel slide" id="carouselPeople" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row h-100">
                    <div class="col-sm-3 text-center"><img src="{{url_for('static', filename='assets/img/Images/cough-removebg-preview.png')}}" width="100" alt="" />
                      <h5 class="mt-3 fw-medium text-secondary">Tip 1</h5>
                      <p class="fw-normal mb-0">Sub title</p>
                    </div>
                    <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                      <h2>Name of Tip</h2>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus voluptatum placeat dignissimos quis mollitia molestiae iure aut fugiat itaque officiis dolore porro voluptatem error et sunt eum, ipsa, deserunt qui.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <div class="row h-100">
                    <div class="col-sm-3 text-center"><img src="{{url_for('static', filename='assets/img/Images/virus-removebg-preview.png')}}" width="100" alt="" />
                      <h5 class="mt-3 fw-medium text-secondary">Tip 2</h5>
                      <p class="fw-normal mb-0">Sub title</p>
                    </div>
                    <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                      <h2>Name of tip</h2>
                      
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia provident rem, facilis amet at iure asperiores maxime id laudantium animi pariatur iusto quia beatae assumenda explicabo, nihil distinctio excepturi ut?</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row h-100">
                    <div class="col-sm-3 text-center"><img src="{{url_for('static', filename='assets/img/Images/lungs_bg-removebg-preview.png')}}" width="100" alt="" />
                      <h5 class="mt-3 fw-medium text-secondary">Tip 3</h5>
                      <p class="fw-normal mb-0">Sub title</p>
                    </div>
                    <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                      <h2>Name of title</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos omnis neque dolorum cumque magni reprehenderit odio consectetur? Eos, sit possimus culpa hic deserunt, eaque totam nemo, id quo libero consequatur!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="position-relative z-index-2 mt-5">
                  <ol class="carousel-indicators">
                    <li class="active" data-bs-target="#carouselPeople" data-bs-slide-to="0"></li>
                    <li data-bs-target="#carouselPeople" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselPeople" data-bs-slide-to="2"> </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
    </main>
    <!--    End of Main Content-->
    
    <!--    JavaScripts--> 
    
    <script src="{{ url_for('static', filename='vendors/@popperjs/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendors/is/is.min.js')}}"></script>
    <script src="{{ url_for('static', filename='https://scripts.sirv.com/sirvjs/v3/sirv.js')}}"></script>
    <script src="{{ url_for('static', filename='https://polyfill.io/v3/polyfill.min.js?features=window.scroll')}}"></script>
    <script src="{{ url_for('static', filename='vendors/fontawesome/all.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/upload_btn.js')}}"></script>
    <script>
      function logout_msg(){return alert("You have been Successfully Logged Out!!!")}
    </script>
    <!-- Add-ons -->
    <script src="{{ url_for('static', filename='https://code.jquery.com/jquery-3.4.1.slim.min.js')}}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')}}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')}}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="preconnect" href="{{ url_for('static', filename='https://fonts.googleapis.com')}}">
    <link rel="preconnect" href="{{ url_for('static', filename='https://fonts.gstatic.com')}}" crossorigin>
    <link href="{{ url_for('static', filename='https://fonts.googleapis.com/css2?family=Fjalla+One&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&amp;display=swap')}}" rel="stylesheet">
    
  </body>

</html>